body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
  }
  
  .button-group {
    margin: 20px;
  }
  
  button {
    padding: 15px 25px;
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
  }
  
  .color-btn {
    border: 2px solid black;
    border-radius: 10px;
  }
  
  .number-btn {
    border: 1px solid black;
    border-radius: 5px;
  }
  
  #delete-btn {
    background-color: purple;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
  }
  
  #display {
    font-size: 5rem;
    margin-top: 50px;
  }
  
